h1{
    background-color: blue;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

h2{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}


p{
    color: black;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    ul{
        color: black;
        font-size: large;
        font-weight: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    ol{
        color: black;
        font-size: large;
        font-weight: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        

a{
    color: blue;
    font-size: 32px;
    font-weight: bold;
    text-align: left;

}

img {
    height: auto;
    width: 300px;
    align-content: center;
  }

  .container{
    height: 240px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
  }

  .menu {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    display: flex;
    background: skyblue;
    justify-content: center;
  }

  
  