h1{
    background-color: blue;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}


p{
    color: black;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: blue;
    font-size: 32px;
    font-weight: bold;
    text-align: left;

}

img {
    height: auto;
    width: 300px;
    align-content: center;
  }